<footer>
    <ul>
        <li>Michele Zucca</li>
        <li>Integrify</li>
    </ul>
    <ul>
        <li>Logo</li>
        <li>Logo</li>
        <li>Logo</li>
        <li>Logo</li>

    </ul>
</footer>