<nav>
    <ul class="nav-list">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <details class="nav-dropdown">
        <summary>Students</summary> 
        <li>
            <a href="/students">Students</a>
        </li>
        <li>
            <a href="/add-student">Add Student</a>
        </li>
        <li>
            <a href="/api/v1.0.0/students">Students API</a>
        </li>
        </details> 
        <li>
            <a href="/techs">Techs</a>
        </li>
        <li>
            <a href="/techs/api">Techs API</a>
        </li>
      
    </ul>

</nav>