
<%- include('../partials/head') %>

<body>

    <%- include('../partials/navbar') %>
<main>
<div class="container-home">
    <h1>Express App</h1>

    <div class="images-container">
    <img src="/assets/imgs/html-logo.png" />
    <img src="/assets/imgs/css-logo.png" />
    <img src="/assets/imgs/js-logo.png" />
</div>
</div>
</main>
<%- include('../partials/footer') %>

</body>



</html>